<div class="flex min-h-screen items-center justify-center bg-gray-100">
  <div class="mt-4 rounded bg-white px-8 py-6 text-left shadow-lg">
    <div class="flex justify-center">
      <img src="../../../assets/red-bird-sundial.png" />
    </div>
    <h3 class="m-5 text-center text-2xl font-bold">Ready for your next adventure?</h3>
    <div class="mt-4">
      <div class="flex items-center justify-center">
        <button
          class="mt-4 rounded-lg bg-[#003366] px-6 py-2 text-white hover:bg-blue-900"
          (click)="authenticateCAS()"
        >
          Login via CAS
        </button>
      </div>
    </div>
  </div>
</div>
