<div class="m-5 px-8">
  <div class="mt-5 space-y-6 pt-4">
    <div class="flex bg-white">
      <h1 class="mr-4 text-xl">Event Details</h1>
    </div>
  </div>
  <div>
    <div class="mt-4 mb-6">
      <nz-descriptions
        *ngIf="event"
        nzBordered
        nzSize="middle"
      >
        <nz-descriptions-item nzTitle="Society">{{ event.society }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Name">{{ event.name }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Category">{{ event.category }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Location">{{ event.location }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Max Participates">{{ event.maxParticipation }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Fee">{{ event.fee }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Application Deadline"
          >{{ event.applyDeadline | date : 'dd/MM/yyyy hh:mm' }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Start Date"
          >{{ event.startDate | date : 'dd/MM/yyyy hh:mm' }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="End Date">{{ event.endDate | date : 'dd/MM/yyyy hh:mm' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description">
          {{ event.description }}
        </nz-descriptions-item>
      </nz-descriptions>
      <button
        nz-button
        class="mt-6"
        nzType="primary"
        (click)="toggleUpdateEvent()"
      >
        Update Event
      </button>
    </div>
    <div>
      <div class="flex">
        <h1 class="mb-4 mr-4 text-xl">Event Enrollment Record</h1>
        <button
          nz-button
          nzType="primary"
          (click)="updateEnrollmentRecords()"
        >
          Apply Changes
        </button>
      </div>
      <nz-table
        #enrollmentTable
        [nzPageIndex]="pageIndex"
        [nzTotal]="pageSize"
        (nzPageIndexChange)="changePageIndex()"
        [nzData]="enrollmentRecords"
      >
        <thead>
          <tr>
            <th
              *ngFor="let column of enrollmentTableColumn"
              [nzColumnKey]="column.title"
            >
              {{ column.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enrollmentRecord of enrollmentTable.data">
            <td>{{ enrollmentRecord.itsc }}</td>
            <td>
              <nz-select [ngModel]="enrollmentRecord.paymentStatus">
                <nz-option
                  *ngFor="let paymentStatus of PaymentStatus | keyvalue"
                  [nzValue]="paymentStatus.key"
                  [nzLabel]="paymentStatus.key"
                ></nz-option>
              </nz-select>
            </td>
            <td>
              <!-- <ng-container
                [ngSwitch]="enrollmentRecord.eventEnrollmentStatus"
              >
                <nz-badge
                  nzStatus="success"
                  *ngSwitchCase="EventEnrollmentStatus.Enrolled"
                ></nz-badge>
                <nz-badge
                  nzStatus="warning"
                  *ngSwitchCase="EventEnrollmentStatus.Pending"
                ></nz-badge>
                <nz-badge
                  nzStatus="error"
                  *ngSwitchCase="EventEnrollmentStatus.Rejected"
                ></nz-badge>
              </ng-container> -->
              <nz-select [ngModel]="enrollmentRecord.eventEnrollmentStatus">
                <nz-option
                  *ngFor="let eventEnrollmentStatus of EventEnrollmentStatus | keyvalue"
                  [nzValue]="eventEnrollmentStatus.key"
                  [nzLabel]="eventEnrollmentStatus.key"
                ></nz-option>
              </nz-select>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
