<div class="h-full w-full">
  <div class="m-5">
    <form
      nz-form
      [formGroup]="createEventForm"
      novalidate
    >
      <div class="sm:overflow-hidden sm:rounded-md">
        <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
          <h1 class="text-xl">Create Event</h1>
          <div class="col-span-6 sm:col-span-4">
            <label class="block text-sm font-medium text-gray-700">Event Title</label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="14"
              nzErrorTip="Input is required"
            >
              <input
                nz-input
                required
                type="text"
                [formControlName]="CreateEventFormFields.EventTitle"
                class="mt-2"
              />
            </nz-form-control>
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label
              for="location"
              class="block text-sm font-medium text-gray-700"
              >Location</label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="14"
              nzErrorTip="Input is required"
            >
              <input
                nz-input
                required
                name="location"
                type="text"
                [formControlName]="CreateEventFormFields.Location"
                class="mt-2"
              />
            </nz-form-control>
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label
              for="max-participations"
              class="block text-sm font-medium text-gray-700"
              >Max Participants</label
            >
            <nz-form-control
              nzHasFeedback
              nzErrorTip="Input is required"
            >
              <input
                nz-input
                required
                name="max-particaipants"
                type="number"
                [formControlName]="CreateEventFormFields.MaxParticipations"
                class="mt-2 w-28"
              />
            </nz-form-control>
          </div>
          <div class="col-span-6 flex flex-row gap-x-4 sm:col-span-4">
            <div>
              <label class="block text-sm font-medium text-gray-700">Date</label>
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Input is required"
              >
                <nz-date-picker
                  class="mt-2"
                  required
                  [formControlName]="CreateEventFormFields.Date"
                ></nz-date-picker>
              </nz-form-control>
            </div>
            <div>
              <label
                for="application-deadline"
                class="block text-sm font-medium text-gray-700"
                >Application Deadline</label
              >
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Input is required"
              >
                <nz-date-picker
                  class="mt-2"
                  required
                  [formControlName]="CreateEventFormFields.ApplyDeadline"
                ></nz-date-picker>
              </nz-form-control>
            </div>
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Cover Picture</label>
            <div class="mt-2">
              <nz-upload
                nzType="drag"
                [nzLimit]="1"
                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                (nzChange)="uploadPicture($event)"
              >
                <p class="ant-upload-drag-icon">
                  <span
                    nz-icon
                    nzType="inbox"
                  ></span>
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                <p class="ant-upload-hint">Support for a single or bulk upload. PNG, JPG, GIF up to 10MB</p>
              </nz-upload>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 text-right sm:px-6">
        <button
          nz-button
          nzType="primary"
          [disabled]="isProcessing"
          (click)="createEvent()"
        >
          Publish
        </button>
      </div>
    </form>
  </div>
</div>
