<div class="h-full w-full">
  <div class="m-5">
    <form
      nz-form
      [formGroup]="createEventForm"
      (ngSubmit)="createEvent()"
    >
      <div class="sm:overflow-hidden sm:rounded-md">
        <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
          <div class="flex">
            <h1 class="text-xl">Create Event</h1>
            <button
              class="ml-auto"
              nz-button
              nzType="primary"
              nzGhost
              (click)="backToEventPage()"
            >
              <span
                nz-icon
                nzType="left"
              ></span>
              back
            </button>
          </div>

          <div class="col-span-6 sm:col-span-4">
            <label class="mb-2 block text-sm font-medium text-gray-700">Event Title</label>
            <nz-form-control
              nzHasFeedback
              [nzSpan]="14"
              nzErrorTip="Input is required"
            >
              <input
                nz-input
                required
                type="text"
                [formControlName]="CreateEventFormFields.Name"
              />
            </nz-form-control>
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label
              for="location"
              class="mb-2 block text-sm font-medium text-gray-700"
              >Location</label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="14"
              nzErrorTip="Input is required"
            >
              <input
                nz-input
                required
                name="location"
                type="text"
                [formControlName]="CreateEventFormFields.Location"
              />
            </nz-form-control>
          </div>
          <div class="col-span-6 flex flex-row gap-4 sm:col-span-4">
            <div class="flex-1">
              <label
                for="category"
                class="mb-2 block text-sm font-medium text-gray-700"
                >Category</label
              >
              <nz-form-control
                nzHasFeedback
                [nzSpan]="24"
                nzErrorTip="Input is required"
              >
                <nz-select
                  required
                  [formControlName]="CreateEventFormFields.Category"
                >
                  <nz-option
                    *ngFor="let category of EventCategory | keyvalue"
                    [nzLabel]="category.value"
                    [nzValue]="category.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
            <div class="flex-1">
              <label
                for="society"
                class="mb-2 block text-sm font-medium text-gray-700"
                >Society</label
              >
              <nz-form-control
                nzHasFeedback
                [nzSpan]="24"
                nzErrorTip="Input is required"
              >
                <nz-select
                  required
                  [formControlName]="CreateEventFormFields.Society"
                >
                  <nz-option
                    *ngFor="let society of enrolledSocieties"
                    [nzLabel]="society"
                    [nzValue]="society"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
            <div class="basis-9/12"></div>
          </div>
          <div class="col-span-6 flex flex-row gap-x-4 sm:col-span-4">
            <div>
              <label
                for="max-participation"
                class="mb-2 block text-sm font-medium text-gray-700"
                >Max Participants</label
              >
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Input is required"
              >
                <input
                  nz-input
                  required
                  type="number"
                  [formControlName]="CreateEventFormFields.MaxParticipation"
                  class="w-28"
                />
              </nz-form-control>
            </div>
            <div>
              <label
                for="fee"
                class="mb-2 block text-sm font-medium text-gray-700"
                >Fee(HKD)</label
              >
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Input is required"
              >
                <input
                  nz-input
                  required
                  type="number"
                  [formControlName]="CreateEventFormFields.Fee"
                  class="w-28"
                />
              </nz-form-control>
            </div>
          </div>
          <div class="col-span-6 flex flex-row gap-x-4 sm:col-span-4">
            <div>
              <label class="mb-2 block text-sm font-medium text-gray-700">Event Date</label>
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Input is required"
              >
                <nz-range-picker
                  required
                  [nzShowTime]="true"
                  [formControlName]="CreateEventFormFields.Date"
                ></nz-range-picker>
              </nz-form-control>
            </div>
            <div>
              <label
                for="application-deadline"
                class="mb-2 block text-sm font-medium text-gray-700"
                >Application Deadline</label
              >
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Input is required"
              >
                <nz-date-picker
                  required
                  [nzShowTime]="true"
                  [formControlName]="CreateEventFormFields.ApplyDeadline"
                ></nz-date-picker>
              </nz-form-control>
            </div>
          </div>
          <div>
            <label
              for="description"
              class="mb-2 block text-sm font-medium text-gray-700"
              >Description</label
            >
            <nz-form-control
              nzHasFeedback
              [nzSpan]="14"
              nzErrorTip="Input is required"
            >
              <textarea
                [formControlName]="CreateEventFormFields.Description"
                nz-input
                rows="4"
              ></textarea>
            </nz-form-control>
          </div>
          <div>
            <label class="mb-2 block text-sm font-medium text-gray-700">Cover Picture</label>
            <div>
              <nz-upload
                [nzAction]="''"
                nzType="drag"
                [nzLimit]="1"
                (nzChange)="saveFileBuffer($event)"
              >
                <p class="ant-upload-drag-icon">
                  <span
                    nz-icon
                    nzType="inbox"
                  ></span>
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                <p class="ant-upload-hint">Support for a single or bulk upload. PNG, JPG, GIF up to 10MB</p>
              </nz-upload>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 text-right sm:px-6">
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            [disabled]="isProcessing"
          >
            Publish
          </button>
        </nz-form-control>
      </div>
    </form>
  </div>
</div>
