<div class="m-5 px-8">
  <div class="my-5 space-y-6 py-4">
    <div class="flex bg-white">
      <h1 class="text-xl">Event Management</h1>
      <button
        class="ml-auto"
        nz-button
        nzType="primary"
        (click)="toggleCreateEvent()"
      >
        Create Event
      </button>
    </div>
  </div>
  <div>
    <nz-table
      #eventTable
      [nzPageIndex]="pageIndex"
      [nzTotal]="pageSize"
      (nzPageIndexChange)="changePageIndex()"
      [nzData]="events"
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of EventTableColumn"
            [nzColumnKey]="column.title"
          >
            {{ column.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="cursor-pointer"
          *ngFor="let event of eventTable.data"
        >
          <td>{{ event.name }}</td>
          <td>{{ event.category }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.maxParticipation }}</td>
          <td>{{ event.fee }}</td>
          <td>{{ event.applyDeadline | date : 'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ event.startDate | date : 'dd/MM/yyyy hh:mm' }}</td>
          <td>{{ event.endDate | date : 'dd/MM/yyyy hh:mm' }}</td>
          <td class="z-10 text-center">
            <button
              nz-button
              nzDanger
              nzType="primary"
              (click)="toggleDeleteEvent(event.id!!)"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <nz-modal
    [(nzVisible)]="showModal"
    nzTitle="Warning"
    [nzFooter]="modalFooter"
  >
    <ng-container *nzModalContent>
      <span>This action is irreversible, are you sure?</span>
    </ng-container>

    <ng-template #modalFooter>
      <button
        nz-button
        nzType="default"
        (click)="cancelEventDeletion()"
      >
        Cancel
      </button>
      <button
        nz-button
        nzDanger
        nzType="primary"
        (click)="confirmEventDeletion()"
      >
        Confirm
      </button>
    </ng-template>
  </nz-modal>
</div>
