<div class="h-screen">
  <div class="flex flex-col px-2 pt-4 pb-8 border-r border-gray-300 w-80 h-full">
    <span class="ml-4">USocieTy</span>
    <hr class="my-4 mx-2 border-gray-300" />
    <ul class="space-y-2">
      <li *ngFor="let option of sidebarOptions">
        <a
          class="hover:bg-gray-500 hover:bg-opacity-10 hover:text-blue-600 flex items-center text-gray-700 py-1.5 px-4 rounded space-x-2 cursor-pointer"
        >
          <fa-icon
            *ngIf="option.icon"
            [icon]="option.icon"
          ></fa-icon>
          <span>{{ option.name }}</span>
        </a>
      </li>
    </ul>
    <div class="mt-auto">
      <hr class="my-4 mx-2 border-gray-300" />
      <span class="ml-4">User</span>
    </div>
  </div>
</div>
